.title{
    display: flex;
    justify-content: center;
}
.btn {
    display: flex;
    justify-content: center;
}
#card{
    width: 434px;
    border: 0px !important;
    margin-top: 20px;
}

.back{
    background-color:white;

}
.tag_input{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
#bnt1{
 margin-left: 10px;
    background-color:white;
    border-radius: 20px;
    border: 1px;
    border-style: solid;
    border-color: #5188F5;
    color:#5188F5;
    height: 44px;
    width: 100%;
}
#bnt2{
    background-color: #5188F5;
    border-radius: 20px;
    border: 0px;
    color: white;
    height: 44px;
    width: 100%;
    margin-left: 12px;
    margin-bottom: 10px;
}

